<?xml version="1.0" encoding="UTF-8"?>
<!-- Faster Maven Central mirror; helps in networks with slow/unstable access to repo.maven.apache.org -->
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0">
  <mirrors>
    <mirror>
      <id>aliyun-public</id>
      <name>Aliyun Maven Public Mirror</name>
      <url>https://maven.aliyun.com/repository/public</url>
      <mirrorOf>central</mirrorOf>
    </mirror>
  </mirrors>
</settings>
